.img-name img {
    width: 20%;
}

/* sm screen */
@media screen and (max-width: 575.98px) {
    .hanging-nav {
        gap: 5vw;
    }

    .nav-item {
        padding: 0.3em;
    }

    .nav-item h5 {
        font-size: 0.8em;
    }
}

/* md screen */
@media screen and (max-width: 767.98px) {
    .hanging-nav {
        gap: 3vw;
    }

    .nav-item {
        padding: 0.3em;
        border-width: 1px;
    }

    .nav-item h5 {
        font-size: 0.9em;
    }
}


/* lg screen */
@media (max-width: 991.98px) {  }

/* xl screen */
@media (max-width: 1199.98px) {  }

/* xxl screen */
@media (max-width: 1399.98px) {  }