.hobby-item {
    min-height: 20rem;
    min-width: 15rem;
    width: 40%;
}

.hobby-item img {
    width: 100%;
    border-radius: 2rem;
}

.construction-wrapper {
    margin-top: 30vh;
    height: 4em;
    background-color: black;
}

.under-construction {
    color: white;
    white-space: nowrap;
    width: 100%;
}

.under-construction h1 {
    padding-right: 2em;
}

/* construction caption */
.caption {
    font-size: max(1.2vw, 14px);
    width: 40vw;
}

.hobbies-footer{
    position: fixed;
    bottom: 1.5vh;
}