* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.main-container {
  background-color: #FFF8E0;
}

.f-prompt {
  font-family: 'prompt';
}

.f-syncopate {
  font-family: 'syncopate';
}

/*-------------- Grid - Home page --------------*/

.neath-bg {
  position: sticky;
  grid-column: 2;
  grid-row: 2;
  z-index: 0;
  color: green;
}

.projects-bg > h1 {
  font-family: "syncopate";
  font-weight: bold;
  font-size: 12vw;
  letter-spacing: 0.02em;
}

.neath-title {
  font-family: "prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 2vh;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  top: 10vh;
  grid-column: 2;
}

/*-------------- Elements in Grid --------------*/

.home-about {
  grid-column: 2;
  grid-row: 7;
}

.neath-header {
  z-index: 1000;
  grid-row: 1;
  grid-column: 5 / 9;
}

.neath-header > h3 {
  font-weight: 500;
  font-size: max(1.3vw, 12px);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.projects-bg {
  position: -webkit-sticky;
  width: 100vw;
  text-align: center;
  z-index: 0;
  position: sticky;
  top: 0;
  height: 100vh;
}

.projects {
  display: grid;
  place-items: center;
  gap: 2vw;
  margin-top: -90vh;
  z-index: 2;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 20vh;
}

.home-project img {
  width: 100%;
}

/*-------------- Project 1 --------------*/

.home-project:nth-child(2) {
  grid-row: 3 / 6 ;
  grid-column: 3 / 6;
}

.home-project:nth-child(2) .hover-container {
  position: relative;
  top: -100px;
  left: 50px;
  transition: 0.3s;
}

.home-project:nth-child(2):hover .hover-container {
  opacity: 1;
}

/*-------------- Project 2 --------------*/

.home-project:nth-child(3) {
  grid-row: 6 / 9;
  grid-column: 8 / 12;
}

.home-project:nth-child(3) .hover-container {
  position: relative;
  top: -100px;
  right: 50px;
  transition: 0.3s;
}

.home-project:nth-child(3):hover .hover-container {
  opacity: 1;
}

/*-------------- Project 3 --------------*/

.home-project:nth-child(4) {
  grid-row: 6 / 8;
  grid-column: 4 / 7;
}

.home-project:nth-child(4) .hover-container {
  position: relative;
  top: -100px;
  right: 50px;
  transition: 0.3s;
}

.home-project:nth-child(4):hover .hover-container {
  opacity: 1;
}

.home-about > p {
  width: 60vw;
}


/*-------------- Hover Container --------------*/

.hover-container {
  text-align: center;
  padding: 1em 1.7em;
  border: 0.1em solid black;
  background-color: white;
  width: auto;
  border-radius: 20em / 16em;
  opacity: 0;
}

@media screen and (max-width: 576px) {
  .hover-container {
    text-align: center;
    padding: 1em 1.7em;
    border: 0.1em solid black;
    background-color: pink;
    width: auto;
    border-radius: 15em / 16em;
    opacity: 0;
  }
}

.hover-container > h4 {
  margin: 0.6em;
  margin-bottom: 0;
  font-weight: bold;
  font-size: max(1.2vw, 14px);
}

.hover-container > p {
  margin: 0;
  margin-top: 0.2rem;
  font-size: max(1.2vw, 14px);
}
