* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF8E0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
  color: black !important;
}

/*-- General Styles --*/

.f-prompt {
  font-family: 'prompt', sans-serif;
}

.f-syncopate {
  font-family: 'syncopate', sans-serif;
}

.f-meaculpa {
  font-family: 'Mea Culpa', cursive;
}

.f-pinyon {
  font-family: 'Pinyon Script', cursive;
}

.secondary-btn {
  font-size: max(2vw, 20px);
}
.secondary-btn:hover {
  text-shadow: 0 0 0.1em lightblue;
}

.no-pointer {
  pointer-events: none;
}

.logo {
  font-size: max(3vw, 30px);
  margin: 2.5em;
}

/*--------------- nav header ---------------*/

.hanging-nav {
  position: relative;
  top:0;
  gap: 2vw;
}

.hanging-nav .vertical-line {
  height: 7em;
  border-left: 1.5px solid black;
}

.nav-item {
  border: 1.5px solid black;
  padding: 0.5em;
  border-radius: 1em;
  backdrop-filter: blur(5px);
}

.nav-item.active {
  background-color: white;
}

.nav-item h5 {
  font-size: 1em;
  margin-bottom: 0;
}